<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Name on Card</label> <input type="text" name="name_on_card" class="controls" />
    </div>
    <div class="control-group">
        <label class="control-label">CC Num</label> <input type="text" name="cc_num" size="16" class="controls" /> <br />
    </div>
    <div class="control-group">
        <label class="control-label">Exp Date</label> <input type="text" name="exp_month" maxlength="2" size="2" placeholder="mm" class="controls input-mini" /> / <input type="text" name="exp_year" maxlength="2" size="2" placeholder="yy" class="controls input-mini" />
    </div>
    <div class="control-group">
        <label class="control-label">Card Security Code</label> <input type="text" name="csc" maxlength="4" size="4" class="controls" /><br />
    </div>
    <div class="control-group">
        <label class="control-label">Billing Zip</label> <input type="text" name="card_billing_zip" size="6" class="controls" /><br />
    </div>
</form>
