<div class="container">
    <div class="row" style="margin-top:8em">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-xs-12">
            Please provide your payment information.<br />
            <br />
            This information will be stored in Level 1 PCI compliant infrastructure to facilitate recurring billing.<br />
            <br />
            <%= render :partial => 'ccform' %>
            <br />
            <p>There are <b>NO REFUNDS</b> of any kind.</p>
        </div>
    </div>
</div> <!-- container -->
