<div class="container">
    <div class="row" style="margin-top:7em">
        <div class="lg-col-12">
            <%= bootstrap_flash %>
            <h4>Tweets</h4>
            <p>You can follow us on Twitter <a href="https://twitter.com/wdwtools">@wdwtools</a>. We are occasionally discussed there.</p>
            <blockquote class="twitter-tweet" lang="en"><p>Wow. I&#39;m very impressed with <a href="https://twitter.com/WDWTools">@WDWTools</a> and their ADR Sniper tool. Got a BoG reservation for Xmas at 5:40pm easily. <a href="http://t.co/n5U5x5tbdm">http://t.co/n5U5x5tbdm</a></p>&mdash; Dave Holland (@Daveh787) <a href="https://twitter.com/Daveh787/statuses/413789314091188224">December 19, 2013</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <h4>Testimonials</h4>

            <div class="testimonial-container">
                <div class="testimonial">This program worked great for me. <b>I got exactly what I wanted within 24 hours</b>. I have been trying to get this reservation every day on my own for at least a month with no success.</div>
                <div class="testimonial-attribution"> &mdash; Teressa from Spokane</div>
            </div>

            <div class="testimonial-container">
                <div class="testimonial">This tool is amazing! I would <b>never</b> have been able to get Cinderella's Royal Table without your service. This just may be the highlight of a little girl's first trip to Disney World!</div>
                <div class="testimonial-attribution"> &mdash; Meghan from Minneapolis</div>
            </div>

            <div class="testimonial-container">
                <div class="testimonial">A great product. <b>We have been heroes to our clients!</b></div>
                <div class="testimonial-attribution"> &mdash; Karen from North Carolina</div>
            </div>
            <div class="testimonial-container">
                <div class="testimonial">I'm so impressed with your system. I am a WDW veteran and was skeptical at first, but that all disappeared with one little text. <b>You've made our upcoming trip that much more magical!</b></div>
                <div class="testimonial-attribution"> &mdash; Dave from Oklahoma</div>
            </div>



        </div> <!-- lg-col-12 -->
    </div> <!-- row -->
</div> <!-- container -->
