<% @title="Refurbishment Index" %>
<%- model_class = Refurbishment -%>

<div class="container">
    <div class="row" style="margin-top:7em">
      <div class="col-sm-12 col-md-10 col-md-offset-1 col-xs-12">
        <div class="page-header">
          <h1><%= @title %></h1>
        </div>
        <% @refurbishments.each do |r| %>
            <%= link_to "#{r.restaurant.name}: #{r.start_date} through #{r.end_date}", edit_refurbishment_path(r), action: "show", controller: "refurbishments", id: r.id %>

            <%= link_to refurbishment_path(r), :method => :delete, :class => 'btn', :data => { :confirm => "Are you sure?" } do %>
                    <i class="glyphicon glyphicon-remove-sign"></i> Remove
        <% end %>
        <br />
        <% end %>

        <%= link_to t('.new', :default => t("helpers.links.new")),
                new_refurbishment_path,
                :class => 'btn btn-primary' %>

    </div>
</div>