<footer>
	<div class="social-icons">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-google-plus"></i></a>
		<a href="#"><i class="fa fa-youtube"></i></a>
	</div>
	<small>© 2013-2015 WDWTools</small>
</footer>
