<% if !rest.venues_meta.nil? %>
    <% if !event %>
        <% vm = rest.venues_meta.where("search_time_id = ? AND event_id IS NULL", stid)  %>
    <% else %>
        <% vm = rest.venues_meta.where("event_id = ?", event_id) %>
    <% end %>
<% end %>

<% if !vm.nil? then vm = vm[0] end %>
<% if !vm.nil? %>
                                               <% if vm.high_contention_adr %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Hard to Get Reservation - Use ADR Sniper">
                                                        <i class="fa fa-tachometer" style="background-color: #831434"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_characters and !vm.has_core_characters and !vm.has_royal_characcters and !vm.has_junior_characters %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Characters">
                                                        <i class="fa fa-users"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_core_characters %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="1 or More Core Characters - MMDDGP">
                                                            <i class="fa fa-key"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_royal_characcters %>
                                                <div class="icon" data-toggle="tooltip" data-placement="top" title="Royal Characters">
                                                    <i class="fo fo-crown"></i>
                                                </div>
                                                <% end %>
                                                <% if vm.has_junior_characters %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Disney Junior Characters">
                                                            <i class="fa fa-child"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_fireworks %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Fireworks May Be Visible">
                                                            <i class="fa fa-asterisk"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_parade %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Parade May Be Visible">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_animals %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Animals May Be Visible">
                                                            <i class="fa fa-paw"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_alcohol %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Alcohol">
                                                            <i class="fa fa-glass"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_photo_package %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Optional Photo Package">
                                                            <i class="fa fa-camera"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_tiw_discount %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Tables in Wonderland">
                                                            <i class="fa fa-tiw" style="background-color: #1d9f9b;"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_ap_discount %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Annual Passholder Discount">
                                                            <i class="fa fa-apd" style="background-color: #1d9f9b;"></i>
                                                    </div>
                                                <% end %>
                                                <% if vm.has_dvc_discount %>
                                                    <div class="icon" data-toggle="tooltip" data-placement="top" title="Disney Vacation Club Discount">
                                                            <i class="fa fa-dvc" style="background-color: #1d9f9b;"></i>
                                                    </div>
                                                <% end %>
                                        <% end %>
